.gridPane:vertical { /* left */
    -fx-background-color:
        -fx-outer-border,
        linear-gradient(to right, derive(-fx-base,0%) 0%, derive(-fx-base,10%) 50%, derive(-fx-base,0%) 100%);
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5 */
    -fx-spacing: 0.333em; /* 4 */
    -fx-alignment: TOP_LEFT;
}
.gridPane { /* top */
    TOP-COLOR: ladder(
        -fx-base,	
        derive(-fx-base,0%) 0%,
        derive(-fx-base,46%) 100%
    );
    -fx-background-color:
        linear-gradient(to bottom, derive(TOP-COLOR,25%) 0%, -fx-outer-border 90%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
    -fx-padding: 0.416667em 0.5em 0.416667em 0.5em; /* 5 6  5 6 */
    -fx-spacing: 0.333em; /* 4 */
    -fx-alignment: CENTER_LEFT;
}
.gridPane:vertical.right {
    -fx-background-insets: 0, 0 1 0 0;
}
.gridPane.bottom {
    -fx-background-color:
        -fx-outer-border,
        derive(TOP-COLOR,25%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0, 1 0 0 0, 2 0 0 0;
}
.gridPane > .container > .separator {
    -fx-orientation: vertical;
}
.gridPane:vertical > .container > .separator {
    -fx-orientation: horizontal;
}
.gridPane-overflow-button {
    -fx-padding: 0 0.75em 0 0 ;
}
.gridPane:vertical > .gridPane-overflow-button {
    -fx-padding: 0 0 0.75em 0 ;
}
.gridPane-overflow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.666667em 0.916667em 0em 0em; /* 8 11 0 0 */
    -fx-shape: "M337.273,297.622l-0.016,1.069l2.724,2.639l-2.723,2.628l0.015,1.048h0.881l3.81-3.685l-3.788-3.699H337.273z M343.783,297.622h-0.902l-0.015,1.069l2.724,2.639l-2.724,2.628l0.015,1.048h0.882l3.809-3.685L343.783,297.622z" ;
}

.gridPane-overflow-button:focused > .arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-accent, -15%);
    -fx-background-insets: 1 0 -1 0, 0;
}

.gridPane-overflow-button:hover > .arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-hover-base, -35%);
    -fx-background-insets: 1 0 -1 0, 0;
}
